<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/CSS")
    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryval")
    @System.Web.Optimization.Scripts.Render("~/bundles/DeveloperJs")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="btn btn-primary" vclass="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    @if (Session["UserName"] != null)
                    {
                        <text> @Session["UserName"].ToString() </text>
                    }
                    <!-- <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> -->
                </button>
                @Html.ActionLink("Home", "Home", "Home", new { area = "" }, new { @id = "aHome", @class = "navbar-brand" })
                @Html.ActionLink("About Us", "Home", "Home", new { area = "" }, new { @id = "aHome", @class = "navbar-brand" })
                @Html.ActionLink("Contact Us", "Home", "Home", new { area = "" }, new { @id = "aHome", @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("User Profile", "UserProfile", "Home")</li>
                    <li>@Html.ActionLink("Logout", "Login", "Home")</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr/>

        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - MyCart </p>
        </footer>
    </div>
    <script type="text/javascript">
        $('.nav li.active').removeClass('active');
    </script>
</body>
</html>
